body {
  font-family: helvetica;
}

.item1 { grid-area: newfeature0item; }
.item2 { grid-area: userlistitem; }
.item3 { grid-area: roomnameitem; }

.grid-container {
  display: grid;
  grid-template-areas:
    'userlistitem userlistitem userlistitem userlistitem userlistitem newfeature0item'
    'roomnameitem roomnameitem roomnameitem roomnameitem roomnameitem newfeature0item';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item4 { grid-area: newfeature1item; }
.item5 { grid-area: newfeature2item; }
.item6 { grid-area: messageinputitem; }

.grid-container1 {
  display: grid;
  grid-template-areas:
    'newfeature1item newfeature2item messageinputitem messageinputitem messageinputitem messageinputitem';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px 0px;
  font-size: 30px;
}

.messages {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  /*background-color: rgb(25, 8, 121);*/
}

.message {
  border-radius: 20px;
  padding: 8px 16px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 7px;
  display: inline-block;
  /*background-color: rgb(184, 133, 148);*/
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #49f04c 0%, #6CD26D 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #49f04c 0%, #6CD26D 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}